[Unit]
Description=TS WC Scores 2026 Telegram Bot
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/ts-wc-scores
EnvironmentFile=/root/ts-wc-scores/.env
ExecStart=/usr/bin/java -Xmx200m -jar /root/ts-wc-scores/app.jar
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ts-wc-scores

[Install]
WantedBy=multi-user.target
